<?xml version="1.0"?>
<launch>
  <arg name="debug" default="false" />
  <arg unless="$(arg debug)" name="launch_prefix" value="" />
  <arg if="$(arg debug)" name="launch_prefix" value="gdb --ex run --args" />
  <rosparam file="$(find odrive_control)/config/odrive_controllers.yaml" command="load" />
  <!-- Load example URDF -->
  <param name="robot_description" command="$(find xacro)/xacro '$(find robo_description)/urdf/URDF'" />

  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />

  
  <!--<node name="limit_switch_publsher" pkg="limit_switch_publisher" type="limit_switch_state_publisher.py"/> -->
</launch>
